<div class="col-md-4">
  <div class="well sidebar-nav">
    <h3>Users: <span id="user_count"></span></h3>
    <ul class="nav nav-list" id="user-list">
      <li class="nav-header">Active</li>
    </ul>
  </div>
</div>