<div id="chat" class="well bg-info" data-uri="<%= request.host %>:<%= request.port %>/websocket">
</div>

<div class="form well ">
  <div class="row">
    <div class="col-xs-4">
      <input type="text" class="form-control" id="nick_name">
    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control"  id="message" placeholder="Enter message here...">
    </div>
    <div class="col-xs-2">
      <button id="send" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>